/* Write your CSS here */
.not-found-container {
  min-height: 100vh;
  background-color: #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
}

.not-found-heading {
  color: #ffffff;
  font-size: 32px;
}
